This notebook is for milestone 4 and has got answers to business questions. SQL queries are stored in sql_files folder.

In [2]:
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [3]:
from tabulate import tabulate

In [4]:
from mrdc import database_utils
from mrdc import data_extraction
from mrdc import data_cleaning

In [5]:
base_path = os.getcwd()
postgres_data_connector = database_utils.DatabaseConnector(base_path=base_path, cred_file="local_db_creds.yaml")
sql_file_path = "sql_files"

Task - 1: How many does the business have?

In [6]:
query1_file_path = os.path.join(sql_file_path, "query_1.sql")
print(tabulate(postgres_data_connector.run_query(query1_file_path)))

--  ---
GB  257
DE  136
US   33
--  ---

Task-2: Which locations currently have most stores?

In [7]:
query2_file_path = os.path.join(sql_file_path, "query_2.sql")
print(tabulate(postgres_data_connector.run_query(query2_file_path)))

------------  --
Chapletown    14
Belper        13
Exeter        11
High Wycombe  10
Arbroath      10
Bushey        10
Surbiton       9
Lancing        9
Rutherglen     9
Aberdeen       8
------------  --

Task-3:

In [8]:
query3_file_path = os.path.join(sql_file_path, "query_3.sql")

In [9]:
print(tabulate(postgres_data_connector.run_query(query3_file_path), headers='keys', tablefmt='psql'))

+-----+--------+
|   0 |      1 |
|-----+--------|
|   1 | 469799 |
|   8 | 465802 |
|   5 | 455947 |
|  10 | 452585 |
|   3 | 450807 |
|  12 | 449296 |
|   7 | 448233 |
|   9 | 445848 |
|   6 | 445724 |
|  11 | 441187 |
|   4 | 433046 |
|   2 | 422757 |
+-----+--------+

Task-4 How many sales are coming online?

In [10]:
query4_file_path = os.path.join(sql_file_path, "query_4.sql")

In [11]:
print(tabulate(postgres_data_connector.run_query(query4_file_path), headers='keys', tablefmt='psql'))

+-------+--------+------------+
|     0 |      1 | 2          |
|-------+--------+------------|
| 64416 | 258374 | Offline    |
| 19230 |  76475 | Web Portal |
+-------+--------+------------+

Task 5: What percentage of sales comes through each store?

In [12]:
query5_file_path = os.path.join(sql_file_path, "query_5.sql")
print(tabulate(postgres_data_connector.run_query(query5_file_path), headers='keys', tablefmt='psql'))

+-------------+-------------+-----------+
| 0           |           1 |         2 |
|-------------+-------------+-----------|
| Local       | 1.32373e+09 | 57.7465   |
| Mall Kiosk  | 2.63671e+08 | 11.5023   |
| Outlet      | 2.31384e+08 | 10.0939   |
| Super Store | 4.6815e+08  | 20.4225   |
| Web Portal  | 5.38103e+06 |  0.234742 |
+-------------+-------------+-----------+

Task 6: Which month in each year produced the highest sale?

In [13]:
query6_file_path = os.path.join(sql_file_path, "query_6.sql")
print(tabulate(postgres_data_connector.run_query(query6_file_path), headers='keys', tablefmt='psql'))

+-----+------+---------+
|   0 |    1 |       2 |
|-----+------+---------|
|   1 | 2000 | 19552.8 |
|   8 | 1996 | 19130.3 |
|   9 | 2017 | 19042   |
|  12 | 2003 | 18762.4 |
|   5 | 2010 | 18733   |
|   5 | 1999 | 18675.6 |
|   8 | 2019 | 18652.6 |
|  10 | 2020 | 18606.3 |
|   7 | 2003 | 18327   |
|  11 | 2021 | 18286.9 |
+-----+------+---------+

Task 7 : What is our staff headcount?

In [14]:
query7_file_path = os.path.join(sql_file_path, "query_7.sql")
print(tabulate(postgres_data_connector.run_query(query7_file_path), headers='keys', tablefmt='psql'))

+-----+-------+
| 0   |     1 |
|-----+-------|
| GB  | 12875 |
| DE  |  6016 |
| US  |  1304 |
+-----+-------+

Task 8: which german store type is selling the most?

In [15]:
query8_file_path = os.path.join(sql_file_path, "query_8.sql")
print(tabulate(postgres_data_connector.run_query(query8_file_path), headers='keys', tablefmt='psql'))

+-------------+-----+--------+
| 0           | 1   |      2 |
|-------------+-----+--------|
| Outlet      | DE  | 137271 |
| Mall Kiosk  | DE  | 162048 |
| Super Store | DE  | 270294 |
| Local       | DE  | 768281 |
+-------------+-----+--------+

Task 9: How qucikly is the company making sales?

In [16]:
query9_file_path = os.path.join(sql_file_path, "query_9.sql")
print(tabulate(postgres_data_connector.run_query(query9_file_path), headers='keys', tablefmt='psql'))

+------+----------------+
|    0 | 1              |
|------+----------------|
| 2013 | 2:17:15.655442 |
| 1993 | 2:15:42.230194 |
| 2002 | 2:13:51.523434 |
| 2008 | 2:13:03.532442 |
| 2022 | 2:13:02.003698 |
| 1995 | 2:12:59.084514 |
| 2016 | 2:12:58.099167 |
| 2011 | 2:12:29.826536 |
| 2020 | 2:12:10.518667 |
| 2021 | 2:11:48.370733 |
| 2012 | 2:11:46.260641 |
| 2009 | 2:11:26.773807 |
| 2010 | 2:11:11.534715 |
| 1996 | 2:11:11.387674 |
| 2007 | 2:11:09.955079 |
| 1999 | 2:11:04.353455 |
| 2000 | 2:11:02.099627 |
| 2001 | 2:10:48.234021 |
| 2019 | 2:10:47.072673 |
| 2018 | 2:10:45.547850 |
| 1994 | 2:10:39.921642 |
| 2004 | 2:10:29.233837 |
| 2006 | 2:10:15.657079 |
| 2014 | 2:10:06.066848 |
| 1997 | 2:09:48.347923 |
| 2015 | 2:09:46.364085 |
| 1992 | 2:09:36.141256 |
| 2005 | 2:09:04.849779 |
| 2003 | 2:08:41.323695 |
| 2017 | 2:08:38.187653 |
| 1998 | 2:08:08.009995 |
+------+----------------+