Notebook to analyse user data

In [1]:
import yaml
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [2]:
from mrdc import database_utils
from mrdc import data_extraction
from mrdc import data_cleaning

In [5]:
base_path = r"C:\Users\abhik\Documents\aicore\multinational-retail-data-centralisation946"
data_connector = database_utils.DatabaseConnector(base_path=base_path, cred_file="db_creds.yaml")
data_extractor = data_extraction.DataExtractor()
data_connector.list_db_table()

['legacy_store_details', 'legacy_users', 'orders_table']

In [6]:
data_df = data_extractor.read_rds_table(data_connector, table_name="legacy_users")
data_df.head()

AttributeError: 'DatabaseConnector' object has no attribute 'init_db_engine'

In [4]:
data_df.shape

NameError: name 'data_df' is not defined

In [14]:
data_df.isnull().sum()

index            0
first_name       0
last_name        0
date_of_birth    0
company          0
email_address    0
address          0
country          0
country_code     0
phone_number     0
join_date        0
user_uuid        0
dtype: int64

In [15]:
data_df.isna().sum()

index            0
first_name       0
last_name        0
date_of_birth    0
company          0
email_address    0
address          0
country          0
country_code     0
phone_number     0
join_date        0
user_uuid        0
dtype: int64

In [31]:
if pd.to_datetime(data_df['date_of_birth'], format='%Y-%m-%d', errors='coerce').notnull().all():
    print("no error")
else:
    print("wrong date format present")

wrong date format present

In [30]:
try:
    pd.to_datetime(data_df['date_of_birth'], format='%Y-%m-%d', errors="raise")
except ValueError as e:
    print(e)

time data "1968 October 16" doesn't match format "%Y-%m-%d", at position 360. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [32]:
nan_df = pd.to_datetime(data_df['date_of_birth'], format='%Y-%m-%d', errors="coerce")
# above will return NaN when the format not match 
clean_df = data_df[nan_df.notna()]

In [33]:
pd.to_datetime(clean_df['date_of_birth'], format='%Y-%m-%d')

0       1990-09-30
1       1940-12-01
2       1995-08-02
3       1972-09-23
4       1952-12-20
           ...
15315   1943-08-09
15316   1948-08-20
15317   1940-10-09
15318   1952-06-04
15319   1994-03-27
Name: date_of_birth, Length: 15257, dtype: datetime64[ns]

In [34]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15257 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15257 non-null  int64
 1   first_name     15257 non-null  object
 2   last_name      15257 non-null  object
 3   date_of_birth  15257 non-null  object
 4   company        15257 non-null  object
 5   email_address  15257 non-null  object
 6   address        15257 non-null  object
 7   country        15257 non-null  object
 8   country_code   15257 non-null  object
 9   phone_number   15257 non-null  object
 10  join_date      15257 non-null  object
 11  user_uuid      15257 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.5+ MB

In [44]:

data_df.describe()

              index
count  15320.000000
mean    7659.500000
std     4422.647397
min        0.000000
25%     3829.750000
50%     7659.500000
75%    11489.250000
max    15319.000000